<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- import CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <style></style>
  </head>
  <body>
    <div id="app">
      <el-row :gutter="24">
        <el-col :span="12">
          <el-row>
            <el-card>
              <el-input
                type="textarea"
                placeholder="请输入内容"
                @blur="parseData"
                :autosize="{ minRows: 20, maxRows: 50 }"
                v-model="dataList"
              >
              </el-input>
              <el-row>
                <el-input-number
                  v-model="num"
                  :min="1000"
                  :max="100000"
                  label="描述文字"
                ></el-input-number>
                <el-button
                  style="margin-top: 20px"
                  @click="getMockData"
                  :loading="loading"
                  >下载文件（前端生成）</el-button
                >
                <el-button
                  type="success"
                  style="margin-top: 20px"
                  @click="getMockBackData"
                  :loading="loading1"
                  >下载文件（后台生成）</el-button
                >
              </el-row>
            </el-card>
          </el-row>
          <el-row> </el-row>
        </el-col>
      </el-row>
    </div>
  </body>
  <script src="https://cuikangjie.github.io/JsonExportExcel/dist/JsonExportExcel.min.js"></script>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script
    type="text/javascript"
    src="https://unpkg.com/axios/dist/axios.min.js"
  ></script>
  <script>
    new Vue({
      el: "#app",
      delimiters: ["[", "]"],
      
      data: function () {
        return {
          loading: false,
          loading1: false,
          checkList: [], // 表头数据
          num: 1000,
          dataList: "", // 输入的json
        };
      },
      methods: {
        getMockData() {
          const { checkList: header, num } = this;
          if (header.length === 0) {
            return this.$notify({
              title: "温馨提示",
              message: "请粘贴JSON数据",
              type: "error",
              duration: 2000,
            });
          }
          this.loading = true;
          axios
            .post("/api/mockdata", { header, num })
            .then((res) => {
              const jsonData = res.data.data.list;
              this.JsonToExcel(jsonData, "thanks", "拿走不谢", header);
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.loading = false;
            });
        },
        getMockBackData() {
          const { checkList: header, num } = this;
          if (header.length === 0) {
            return this.$notify({
              title: "温馨提示",
              message: "请粘贴JSON数据",
              type: "error",
              duration: 2000,
            });
          }
          this.loading1 = true;
          axios
            .post(
              "/api/mockbackdata",
              { header, num },
              { responseType: "blob" }
            )
            .then((res) => {
              this.download(res.data);
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.loading1 = false;
            });
        },
        // 下载文件
        download(data) {
          if (!data) {
            return;
          }
          let url = window.URL.createObjectURL(new Blob([data]));
          let link = document.createElement("a");
          link.style.display = "none";
          link.href = url;
          link.setAttribute("download", "导入数据.xlsx");

          document.body.appendChild(link);
          link.click();
        },
        parseData() {
          try {
            const tempData = eval("(" + this.dataList + ")");
            this.checkList = tempData.map((item) => item.title);
          } catch (error) {
            this.$notify({
              title: "温馨提示",
              message: "请粘贴JSON数据",
              type: "error",
              duration: 2000,
            });
          }
        },
        JsonToExcel(jsonData, fileName, sheetName, sheetHeader) {
          const option = {};
          option.fileName = fileName;
          option.datas = [
            {
              sheetData: jsonData,
              sheetName: sheetName,
              sheetHeader: sheetHeader,
            },
          ];
          const toExcel = new ExportJsonExcel(option);
          toExcel.saveExcel();
        },
      },
    });
  </script>
</html>
